body {
    display: flex;
    flex-direction: column;
    align-items: center;
    	background-color: #2A2B2B;
      font-family: Consolas, monospace;

}

h1{
    text-align: center;
    background-image: linear-gradient(to bottom, #FFD700, white, black); /* Modify the gradient direction */
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;  
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}

h2 {
text-align: center;
    background-image: linear-gradient(to bottom, #FFD700, white, grey);
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;  
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}

.inventory {
    display: grid;
    grid-template-columns: repeat(5, 32px);
    grid-gap: 15px 30px; /* Adjust the gap values for left and right */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #222;
    padding: 20px;
    padding-left: 5px;
    padding-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.slot {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    text-align: center;
    background-color: grey;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}



.slot img {
width: 100%;
height: 100%;

}

.slot span {
    position: absolute;
    top: -10px;
    left: 15%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: bold;
    color: lightgrey;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 2px;
    border-radius: 50%;
}




.buttons {
  display: flex;
  margin-top: 10px;
}

button {
  margin-right: 5px;
  margin-bottom: 6px;
  height: 25px;
  background-color: gold;
  color: black;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}



#slot-count {
font-family: MedievalSharp, fantasy; /* Replace "Your RPG Font" with the name of your desired RPG-style font */
  
  position: absolute;
  top: 95px; /* Adjust the top value to position it vertically */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: bold;
  color: #D1B000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 2px;
  border-radius: 10%;
}


#notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgb(68, 67, 67);
  border: 2px solid #000;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center; /* Add this line */
  overflow: hidden;
}


.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 9px;
  font-weight: bold;
  padding: 0 5px;
  cursor: pointer;
}


.hidden {
    display: none;
}
.item-info {
  width: 100px; /* set the width to a smaller value */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 color: white;
 padding: 0 20px;
 margin-top: 4px;
 
}

.status-value {
  color: red; 
}


}
#item-type {
  color: white;
}

#item-quantity {
  font-weight: bold;
  font-size: 12px;
  margin: 3px 0;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
  margin-top: 4px;

}


#item-name {
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
  max-width: 400px; /* Adjust the width as needed */
  word-break: keep-all; /* Prevent line breaks within words */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add an ellipsis (...) to indicate truncated text */
}


#item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 5px;
  font-size: 14px;
  margin: 7px 0;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
  border: 1px solid black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%; /* Set the width to 100% */
  overflow-wrap: break-word; /* Allow long words to break and wrap */
}


#item-attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 4px 0;
text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
font-size: 15px;
margin-top: 4px;

}

#item-status {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 4px 0;
text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
font-size: 15px;
margin-top: 4px;
}

#item-rarity {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 1px;
  margin: 1px 0;
  font-size: 16px;

}

#notification button {
  background-color: #FFD700;
  color: rgb(41, 38, 38);
  border: none;
  padding: 3px 11px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    text-shadow: 0px 0px 1px #000; /* Add shadow to the text */

}

#notification button:hover {
  background-color: rgb(66, 64, 64);
  color: #FFD700;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  text-shadow: 0px 0px 1px #000; /* Add shadow to the text */

}

#previous {
  border: none;
    color: #000000;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners to buttons */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}
#next {
  border: none;
  color: #000000;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 10px; /* Add rounded corners to buttons */
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}
#spawn-item{
  border: none;
    color: #000000;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners to buttons */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */

}
  #menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 0 auto; /* Center the menu bar */
    z-index: 9999;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    border: 2px solid #36454F; /* Add semi-transparent golden border */
    box-shadow: 0px 0px 5px 2px #36454F; /* Add glowing effect to border with reduced size */
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
	display: flex;
}
#menu li {
    display: inline-block;	
}
#menu a {
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners to buttons */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    background-color: #36454F;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#menu a:hover {
    background-color: #111;
}

footer {

    text-align: center;
 color: white;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    margin: 20px;
	border-radius: 10px;
    margin-bottom: 10px; /* Change this value as needed */
    margin-top: 500px;
    
}
footer ul {
   background-image: linear-gradient(to bottom, #FFD700, white, black);
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;    ; /* Add shadow */
    
}
footer li {
    display: inline-block;
    margin: 0 10px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}




.rarity-common {
  color: rgb(102, 206, 102);
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bold;
  border-color: green;
}
}
.rarity-common {
  font-size: 18px;
  color: rgb(102, 206, 102);
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black, 0 0 0 rgb(102, 206, 102);
border-color: green;
}




.rarity-uncommon {
  color: rgb(142, 142, 212);
  font-size: 18px;
font-weight: bold;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.rarity-uncommon {
  font-size: 18px;
  color: rgb(142, 142, 212);
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black, 0 0 0 rgb(142, 142, 212);

}




.rarity-rare {
  color: rgb(219, 75, 32);
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bold;
}
.rarity-rare {
  font-size: 18px;
  color: rgb(219, 85, 44);
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black, 0 0 0 rgb(219, 85, 44);

}




.legendary-rare {
  color: rgb(231, 49, 201);
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bold;
}
.rarity-legendary {
  font-size: 18px;
  color: rgb(231, 49, 201);
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black, 0 0 0 rgb(231, 49, 201);
  font-weight: bold;

}



.celestial-rare {
  color: #00FFFF;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bold;
  
}
.rarity-celestial {
  font-size: 18px;
  color: cyan;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black, 0 0 0 cyan;
  font-weight: bold;

}






.rarity-default {
  color: black;
  font-size: 20px;
font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

}

.slot .img-common {
  border-color: gray;
}

.slot .img-uncommon {
  border-color: green;
}

.slot .img-rare {
  border-color: blue;
}

.slot .img-epic {
  border-color: purple;
}

.slot .img-legendary {
  border-color: orange;
}

.img-container {
  position: relative;
}

.rarity-border-common {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px  rgb(102, 206, 102);
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgb(102, 206, 102);
  border-radius: 5px;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.rarity-border-common:hover {
  border-color: rgba(102, 206, 102, 0.5);
  box-shadow: 0 0 10px 2px rgba(102, 206, 102, 0.5);
}

.rarity-border-uncommon {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px  rgb(142, 142, 212);
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgb(142, 142, 212);
  border-radius: 5px;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.rarity-border-uncommon:hover {
  border-color: rgba(142, 142, 212, 0.5);
  box-shadow: 0 0 10px 2px rgba(142, 142, 212, 0.5);
}

.rarity-border-rare {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px  rgb(219, 85, 44);
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgb(219, 85, 44);
  border-radius: 5px;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.rarity-border-rare:hover {
  border-color: rgba(219, 85, 44, 0.5);
  box-shadow: 0 0 10px 2px rgba(219, 85, 44, 0.5);
}

.rarity-border-celestial {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px  cyan;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px cyan;
  border-radius: 5px;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.rarity-border-celestial:hover {
  border-color: rgba(0, 255, 255, 0.5);
  box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.5);
}


.rarity-border-legendary {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px  rgb(231, 49, 201);
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgb(231, 49, 201);
  border-radius: 5px;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.rarity-border-legendary:hover {
  border-color: rgba(231, 49, 201, 0.5); /* Faded border color on hover */
  box-shadow: 0 0 10px 2px rgba(231, 49, 201, 0.5); /* Faded box shadow on hover */
}


.uppercase {
  text-transform: uppercase;
}
