body {
	margin: 0;
	padding: 0;
	background-color: #2A2B2B;
	color: #beb7b7;
    font-family: Consolas, monospace;
    padding-top: 20px;
    
}

h1 {
  text-align: center;
  background-image: linear-gradient(to bottom, #FFD700, white, black);
  border-radius: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #222;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;  
box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}

#containers {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the child elements horizontally */
  align-items: center; /* Center the child elements vertically */
  flex-wrap: wrap; /* Wrap child elements to the next line */
  
}


#mining-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;
  justify-content: center;
box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  border-radius: 10px;
  margin: 25px;
  margin-left: 75px;
  margin-right: 75px;
  }

#fishing-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;
  justify-content: center;
box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  border-radius: 10px;
  margin: 25px;
  margin-left: 75px;
  margin-right: 75px;
  }

#cooking-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;
  justify-content: center;
box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  border-radius: 10px;
  margin: 25px;
  margin-left: 75px;
  margin-right: 75px;
  }
#woodcutting-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;
  justify-content: center;
box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  border-radius: 10px;
  margin: 25px;
  margin-left: 75px;
  margin-right: 75px;
  }
  
  #hunting-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;
  justify-content: center;
box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  border-radius: 10px;
  margin: 25px;
  margin-left: 75px;
  margin-right: 75px;
  }

  #mining-button {
    border: none;
    color: #e7dcdc;
    padding: 4px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 6px 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
      z-index: 1;
      font-weight: bold;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    max-width: 800px;
      margin: 2px auto;
	  background-color: #A52a2a;
    font-family: Consolas, monospace;
	text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
	      padding-left: 40px;
  background-image: url("./img/Mining.png");
  background-repeat: no-repeat;
  background-position: 3px center;
	background-size: 28px 28px;

  }
  #fishing-button {
    border: none;
	color: #e7dcdc;
	padding: 4px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 6px 18px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
    z-index: 1;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
	max-width: 800px;
    margin: 2px auto;
	  background-color: #5046e6;
    font-family: Consolas, monospace;
	text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
	      padding-left: 40px;
  background-image: url("./img/Fishing.png");
  background-repeat: no-repeat;
  background-position: 3px center;
	background-size: 28px 28px;
  }

  #cooking-button {
    border: none;
	color: #e7dcdc;
	padding: 4px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 6px 18px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
    z-index: 1;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
	max-width: 800px;
    margin: 2px auto;
	  background-color: #d97707;
    font-family: Consolas, monospace;
	text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
	      padding-left: 40px;
  background-image: url("./img/Cooking.png");
  background-repeat: no-repeat;
  background-position: 3px center;
	background-size: 28px 28px;
  }

  #woodcutting-button {
    border: none;
	color: #e7dcdc;
	padding: 4px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 6px 18px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
    z-index: 1;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
	max-width: 800px;
    margin: 2px auto;
	  background-color: #00A300;
    font-family: Consolas, monospace;
	text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
	    padding-left: 40px;
  background-image: url("./img/Woodcutting.png");
  background-repeat: no-repeat;
  background-position: 3px center;
	background-size: 28px 28px;

  }
  
    #hunting-button {
   border: none;
	color: #e7dcdc;
	padding: 4px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 6px 18px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
    z-index: 1;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
	max-width: 800px;
    margin: 2px auto;
	  background-color: #8c6c33;
    font-family: Consolas, monospace;
	text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
	    padding-left: 40px;
  background-image: url("./img/Hunter.png");
  background-repeat: no-repeat;
  background-position: 3px center;
	background-size: 28px 28px;

  }
  
  #fishing-progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    
  }
  #mining-progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  #cooking-progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  #woodcutting-progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  
    #hunting-progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  
  #fishing-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #5046e6;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  #mining-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #A52a2a;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  #cooking-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #d97707;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  #woodcutting-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #00A300;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  
   #hunting-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #8c6c33;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
  }
  
  #menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 0 auto; /* Center the menu bar */
    z-index: 9999;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    border: 2px solid #36454F; /* Add semi-transparent golden border */
    box-shadow: 0px 0px 5px 2px #36454F; /* Add glowing effect to border with reduced size */
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
	display: flex;
}
#menu li {
    display: inline-block;	
}
#menu a {
    border: none;
    color: #e7dcdc;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners to buttons */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    background-color: #36454F;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#menu a:hover {
    background-color: #111;
}

footer {
    text-align: center;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    margin: 20px;
	border-radius: 10px;
    margin-bottom: 50px; /* Change this value as needed */
    margin-top: 100px;
    
}
footer ul {
   background-image: linear-gradient(to bottom, #FFD700, white, black);
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;    ; /* Add shadow */
    
}
footer li {
    display: inline-block;
    margin: 0 10px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}

#experience-bar-container {
  width: 200px;
  height: 10px;
  border: 1px solid black;
  position: relative;
  margin: 10px auto;
  border-radius: 10px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
	
}

#experience-bar {
  width: 50%;
  height: 100%;
  background-color: #7d76e1;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
	
}

#hunting-timer-bar-container,
#mining-timer-bar-container,
#fishing-timer-bar-container,
#cooking-timer-bar-container,
#woodcutting-timer-bar-container {
  width: 100%;
  width: 50%;
  margin: 0 auto;
  height: 10px;
  background-color: #555;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */


}


#woodcutting-timer-bar {
  width: 0%;
  height: 100%;
  background-color: #047504;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}
#hunting-timer-bar{
  width: 0%;
  height: 100%;
  background-color: #644d25;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}
#mining-timer-bar{
  width: 0%;
  height: 100%;
  background-color: #7e2020;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}
#fishing-timer-bar{
  width: 0%;
  height: 100%;
  background-color: #3a33a5;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}
#cooking-timer-bar{
  width: 0%;
  height: 100%;
  background-color: #915006;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
}


.notification {
  display: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(69 67 67 / 90%);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-align: center;
  z-index: 9999;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5); /* Add shadow */
    font-weight: bold;
    border: 2px solid #586a76; /* Add semi-transparent golden border */
    animation: fadeOut 3s forwards; /* add fadeOut animation */
    animation-delay: 2s; /* start fading out after 4 seconds */
}

@keyframes fadeOut {
    from { opacity:1; }
    to { opacity:0; }
}

.mining-color {
  color: #A52a2a;
}

.fishing-color {
  color: #5046e6;
  
}

.cooking-color {
  color: #d97707;
}

.woodcutting-color {
  color: #00A300;
  
}

.hunting-color {

  color: #8c6c33;

  
}

#mining-level {
  color: #FF69B4;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#mining-experience {
  color: #a39fdd;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}

#fishing-level {
  color: #FF69B4;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#fishing-experience {
  color: #a39fdd;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}

#cooking-level {
  color: #FF69B4;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#cooking-experience {
  color: #a39fdd;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#woodcutting-level {
  color: #FF69B4;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#woodcutting-experience {
  color: #a39fdd;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
  
}
#hunting-level {
  color: #FF69B4;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}
#hunting-experience {
  color: #a39fdd;
  text-shadow: 1px 1px 2px #000; /* Add shadow to the text */
}

#reset-button {
  color: #e7dcdc;
  background-color: red;
  bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
	margin-top: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

#save-button {
  
  color: #e7dcdc;
  background-color: #00A300;
  bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
	margin-top: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
}
