body {
	margin: 0;
	padding: 0;
	background-color: #2A2B2B;
	color: #beb7b7;
	font-family: "Lucida Console", "Courier New", monospace;
}

#game-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	
	
	
}

h1 {
    text-align: center;
    background-image: linear-gradient(to bottom, #FFD700, white, black);
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text; /* Add this line */
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
	
    
}


#player-stats {
	margin: 0 auto;
	text-align: center;
	background-color: #222;
	display: inline-block;
	border: 1px solid #000;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

#money {
   color: #00FF00;
}

#respect {
   color: #ffff00;
}

#inventory {
    margin-bottom: 20px;
}

#inventory h2 {
    text-align: center;
    background-image: linear-gradient(to bottom, #FFD700, white, black);
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text; /* Add this line */
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 4px;
    
}

#inventory-list {
    list-style-type: none;
    margin: 0 auto;
	text-align: center;
	background-color: #222;
	display: inline-block;
	border: 1px solid #000;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 10px;

}

#inventory-list li {
    display: inline-block;
    margin-right: 10px;
  	background-color: #222;

    
}

#game-menu {
  
  
  bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    
}

#game-menu button {
    border: none;
    color: #beb7b7;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 10px;
    padding: 4px 4px;    
}



#game-log {
	background-color: #222;
	padding: 20px;
	overflow-y: scroll;
	height: 300px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 13px; /* Change this value as needed */

}

#save-load-reset-menu {
  /*  position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#save-load-reset-menu button {
    margin: 10px;
font-family: "Lucida Console", "Courier New", monospace;
}

#save-load-reset-menu button {
    border: none;
    color: #beb7b7;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 10px;
}

#save-button {
    background-color: #00A300;
        display: none;
}

#save-button:hover {
    background-color: #00A300;
}

#load-button {
    background-color: #0000A3;
        display: none;
}

#load-button:hover {
    background-color: #0000A3;
}

#reset-button {
    background-color: #A30000;
        display: none;
}

#reset-button:hover {
    background-color: #A30000;
}

.buttons-hidden #save-button,
.buttons-hidden #load-button,
.buttons-hidden #reset-button {
    display: none;
}

#toggle-buttons {
    background-color: #008DB9;
}

#toggle-buttons:hover {
    background-color: #008DB9;
}

#rob-button {
    background-color: #008DB9;
font-family: "Lucida Console", "Courier New", monospace;
}

#rob-button:hover {
    background-color: #008DB9;
}

#buy-drugs-button {
    background-color: #00A300;
font-family: "Lucida Console", "Courier New", monospace;
}

#buy-drugs-button:hover {
    background-color: #00A300;
}

#sell-drugs-button {
    background-color: #8F0404;
font-family: "Lucida Console", "Courier New", monospace;
}

#sell-drugs-button:hover {
    background-color: #A30000;
}

#gym-button {
    background-color: #B29600;
font-family: "Lucida Console", "Courier New", monospace;
}

#gym-button:hover {
    background-color: #B29600;
}

#gamble-button {
    background-color: #A300A3;
font-family: "Lucida Console", "Courier New", monospace;
}

#gamble-button:hover {
    background-color: #A300A3;
}

#stock-prices {
    margin-bottom: 20px;
}

#stock-prices h2 {
    text-align: center;
    background-image: linear-gradient(to bottom, #FFD700, white, black);
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text; /* Add this line */
    -webkit-text-fill-color: transparent;
    background-color: #222;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 4px;
	
}

#stock-prices-list {
    list-style-type: none;
     margin: 0 auto;
	text-align: center;
	background-color: #222;
	display: inline-block;
	border: 1px solid #000;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	
}

#stock-prices-list li {
    display: inline-block;
    margin-right: 40px;
	
	
}


#buy-stock-button {
    background-color: #00A300;
font-family: "Lucida Console", "Courier New", monospace;
}

#buy-stock-button:hover {
    background-color: #00A300;
}

#sell-stock-button {
    background-color: #8F0404;
font-family: "Lucida Console", "Courier New", monospace;
}

#sell-stock-button:hover {
    background-color: #A30000;
}
footer {
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

#rob-progress-bar-container,
#gym-progress-bar-container {
    width: 300px; /* Change this value as needed */
    height: 10px;
    background-color: #555;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}

#rob-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #008DB9;
}

#gym-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #B29600;
}

#rob-container,
#gym-container {
  display: flex;
  flex-direction: column; /* Change this line */
  align-items: center; /* Change this line */
	flex-wrap: wrap;
	margin-bottom: 20px;
 margin-top: 20px;
 justify-content: center;
}

#rob-button,
#gym-button {
  border: none;
	color: #e7dcdc;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px 8px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
    z-index: 1;
}
